<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" placeholder="Filename" name="filename" id="filename" value="<%= @filename %>">
    <button type="submit">Create</button>
  </div>
</form>