<form action="/users/signin" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" value="<%= params[:username] %>"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" value="" name="password" />
    <button type="submit">Sign In</button>
  </div>
</form>